#!/usr/bin/make -f
%:
	dh ${@} --parallel

override_dh_fixperms:
	dh_fixperms 

	# Fix permissions
	chmod 755 debian/live-torrent-initramfs-tools/usr/share/initramfs-tools/hooks/live-torrent
	chmod 755 debian/live-torrent-initramfs-tools/usr/share/initramfs-tools/scripts/init-top/remove-orig.sh
